*{
    margin: 0 auto
}
header {
    width: 90%;
    background-color: #f59342;
    padding: 10px;
    display: flex;
    align-items: center;
}
nav{
    width: 90%;
    background-color: #f5bf42;
    padding: 10px;
    display: flex;
    align-items: center;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: red;
}
main{
    width: 90%;
    height: 500px;
    padding: 10px;
    background-color: #c0c0c0;
}
footer{
    width: 90%;
    padding: 10px;
    display: flex;
    background-color: #f59342;
    color: blue;
    align-items: center;
}
iframe{
    border: 0px;
    width: 100%;
    height: 500px;
}
